/* Pon tu código css aqui */
.amarillo {
	width: 160px;
	height: 120px;
	background-color: yellow;
	float: right;
}
.azul {
	width: 160px;
	height: 120px;
	background-color: blue;
	float: right;
}
.rojo {
	width: 160px;
	height: 120px;
	background-color: red;
	float: right;
}
.caja {
	width: 700px;
	border: 1px solid #737070;
	margin: 2px;
}